public-hoist-pattern[] = vue
public-hoist-pattern[] = vue-router
public-hoist-pattern[] = @vue/reactivity
public-hoist-pattern[] = @vue/runtime-core
public-hoist-pattern[] = @vue/runtime-dom
public-hoist-pattern[] = @vue/shared
