body {
  overflow-x: hidden;
}

#app {
  @apply flex flex-col gap-4 min-h-screen bg-[--color-neutral-2] text-[--color-text-2] select-none;
}

.arco-layout-header span > i {
  font-size: 1rem;
}

.arco-select-dropdown-list-wrapper {
  max-height: 400px;
}

.arco-select-option-content {
  width: 100%;
}
