body {
  background-color: var(--color-neutral-2);
  color: var(--color-text-2);
  --border-radius-small: 4px;
  --border-radius-medium: 6px;
  --border-radius-large: 10px;
}

#__nuxt {
  @apply flex min-h-screen flex-col gap-4;
}

.arco-drawer-body {
  padding: 0;
}

.arco-layout-sider > .arco-layout-sider-children {
  border-radius: inherit;
}

.arco-menu:not(.arco-menu-horizontal) > .arco-menu-inner {
  padding: 8px;
}

.arco-menu-icon > i {
  display: inline-block;
}

.arco-card-bordered {
  border: none;
}

.arco-card-header {
  border-bottom-color: var(--color-border-1);
}

.arco-collapse {
  border-color: var(--color-border-1);
}

.arco-collapse-item {
  border-bottom-color: var(--color-border-1);
}

.arco-collapse-item-active > .arco-collapse-item-header {
  border-color: var(--color-border-1);
}
